.barramenu {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    color: black;
    font-style: oblique;
}

.menulist{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
.menulist li{
    list-style: none;
}

.menulist li a{
text-decoration: none;
color: black;
}

#banner img{
    width: 100%;
    height: 60vh;
}

.titulo-producto h2{
    font-size: 30px;
    text-align: center;
    padding: 30px;
    background-color: #e0c0ff;
    margin: auto;
}
#productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px;
    background-color: pink;
}
.productos-fotos img{
    width: 90%;
    height: 80%;
    padding: 15px;
}
.productos-fotos h3{
    font-size: x-large;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
}

footer{
    background-color: #e0c0ff;
}
.contacto{
    display: flex;
    justify-content: flex-end;
}
.redes{
    display: flex;
    justify-content: space-around;
    color: black;
}
.logo {
    color: black;
    font-style: oblique;
}

#redes{
    display: flex;
    width: 90%;
    justify-content:flex-end
}
#redes li{
    list-style: none;
}

#redes li a{
text-decoration: none;
color: black;
}
.copy{
    text-align: center;
    font-size: smaller;
}

.textonosotros{
    background-color: pink;
}